<label>
  <input #myval [ngModel]="name" (ngModelChange)="setUppercase(myval.value)">
</label>


<label>
  <input  [ngModel]="name1" >
</label>

<!--<div class="jumbotron">-->
<!--<div class="container">-->

<!--<div class="form-row justify-content-md-start">-->
<!--<div class="form-group-items">-->
<!--<form name="form">-->

<!--<div class="form-group">-->
<!--<label for="name">Name</label>-->
<!--<input type="text" class="form-control" id="name">-->
<!--</div>-->

<!--<div class="form-group">-->
<!--<label for="alterEgo">Alter Ego</label>-->
<!--<input type="text" class="form-control" id="alterEgo">-->
<!--</div>-->

<!--<button type="submit" class="btn btn-success">Submit</button>-->

<!--</form>-->

<!--</div>-->
<!--</div>-->
<!--</div><br><br>-->

<!--<button (click)="onSave($event)">Save</button>-->

<!--<nav>-->
<!--<a routerLink="/heroes">Heroes</a>-->
<!--</nav><br><br>-->


<!--<app-form></app-form>-->

<!--<app-subu></app-subu>-->

<!--<router-outlet></router-outlet>-->

